body {
  font-family: "Open Sans", sans-serif;
  background-color: #252830;
  color: #fff;
  padding-top: 35px;
}

.navbar {
  min-height: 0;
}

.navbar {
  color: #000;
}

[class^="col-xs"] {
  padding: 0;
}

.balance {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

p span {
  float: right;
}